<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

<bean id = "Car" class = "assignment11.session4.assignment11_4.HondaCity">
<!--Here we are using constructor injection to inject properties -->
	<constructor-arg value="Petrol"></constructor-arg>
	<constructor-arg value="1000CC"></constructor-arg>
</bean>

</beans>